<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>View Your Calls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/index.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Khand');
    </style>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Team 10 Research Page</h1>
        <% if (userName === undefined) { %> 
        <p>This is our team project page</p>
        <% } %>
        <% if (userName.length) { %>
        <p><%= userName %>. Select Dashboard to see your available actions.</p>
        <% } %> 
    </div>
    <% include mainNav %>
    <main>
        <% if (failure.length) { %>
            <p>No reviews have been made for this application.</p>
            <a class="btn btn-lg btn-primary btn-block p2" role="button" href="<%= '/funderViewApplications?call_id=' + failure[0].call_id %>">Back to applications</a>
        <% } %>
        <% if (reviews.length){ %>
            <% for (let i=0;i<reviews.length;i++) { %>
                <div id = "<%= reviews[i].review_id %>">
                <h1>Application ID: <%= reviews[i].application_id %></h1>
                <h1>Reviewer ID: <%= reviews[i].reviewer_id %></h1>
                <p>Review Text: <%=  reviews[i].review_text %></p>
                </div>
            <% } %>
            <h1> Accept or reject application? </h1>
            <form role="form" method="post" action="/decideOnForm" >
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                <input type="radio" name="options" id="option1" value="accept"> Accept
                </label>
                <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" value="reject"> Reject
                </label>
            </div>
            <label for="exampleFormControlTextarea1">Additional information</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="5"></textarea>
            <p> Please Note: Once you make this decision, you cannot revert it! </p>
            <button class="btn btn-lg btn-primary btn-block p2" type="submit">Finalize </button>
            </form>
            <a class="btn btn-lg btn-primary btn-block p2" role="button" href="<%= '/funderViewApplications?call_id=' + reviews[0].call_id %>">Back to applications</a>
        <% } %>
    </main>
    <% include mainFooter %>
</body>
</html>