<!DOCTYPE html>
<html lang="en">
<head>
    <title>Review Applications</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
<link rel="stylesheet" href="/public/index.css"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    @import url('https://fonts.googleapis.com/css?family=Khand');
</style>
<style>
    .application {
        border:2px solid black;
    }
</style>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Team 10 Research Page</h1>
    <% if (userName === undefined) { %> 
    <p>This is our team project page</p>
    <% } %>
    <% if (userName.length) { %>
    <p><%= userName %>. Select Dashboard to see your available actions.</p>
    <% } %> 
    </div>
    <% include mainNav %>
    <main>
            <div id = "<%= resultList[0].application_id %>" class="application">
                <p> <%= resultList[0].applicant_id %></p>        
            </div>
    <form role="form" method="post" action="/finalizeReview" >
    <div class="form-group">
    <label for="exampleFormControlTextarea3">Review analysis</label>
    <textarea class="form-control" id="exampleFormControlTextarea3" rows="10" name="txt"></textarea>
    <input type="hidden" name="application_id" value="<%= resultList[0].application_id %>">
    <input type="hidden" name="applicant_id" value="<%= resultList[0].applicant_id %>">
  </div>
    <button class="btn btn-lg btn-primary btn-block p2" type="submit">Submit!</button>
    <button class="btn btn-lg btn-primary btn-block p2" type="submit" formaction="/saveReviewDraft">Save as draft!</button>
    </form>
    </main>
    <% include mainFooter %>
</body>
</html>